@import './colors.scss';

* {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: $background;
}

input[type="email"],
input[type="text"],
input[type="password"] {
  border: none;
  outline: none;
}

button {
  background-color: $primary;
  color: $white;
  border-radius: 8px;
  font-size: 16px;
  border: none;
  line-height: 42px;
  padding: 0 16px;
  transition: opacity .4s;

  &:disabled {
    background-color: $disabledBackground;
    color: $disabledText;
  }

  &:not(:disabled) {
    &:hover {
      opacity: 0.9;
    }
  }
}
